main {
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

form dl dt {
    padding: 10px;
}

.gatillo {
    width: 300px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.button {
    background: darkseagreen;
    border: 2px solid darkgreen;
    border-radius: 5px;
    width: 350px;
    margin: 10px;
    color: darkgreen;
    padding: 5px;
}

.buttonAtras {
    background: #435f43;
    border: 2px solid #0c560c;
    border-radius: 5px;
    width: 60px;
    margin: 10px;
    color: #092609;
    padding: 3px;
}